<div class="container">
    <div style="text-align: end;">
        <mat-icon
            class="matIcon"
            color="warn"
            style="cursor: pointer;;"
            (click)="onNoClick()"
            >close</mat-icon
        >
    </div>
    <mat-card class="text-center">
        <mat-card-title style="font-family: sans-serif;"
            >Enter Room Deatails</mat-card-title
        >
        <form
            [formGroup]="roomFormGroup"
            (ngSubmit)="onSubmit(formDirective)"
            #formDirective="ngForm"
        >
            <div class="example-container">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Room Number"
                        formControlName="room_no"
                    />
                    <mat-error
                        *ngIf="
                          roomFormGroup.get('room_no').hasError('required')
                      "
                        >this field is required!!!</mat-error
                    >
                </mat-form-field>
                <mat-form-field>
                    <input
                        type="text"
                        placeholder="Room Type"
                        aria-label="Number"
                        matInput
                        formControlName="room_type_id"
                        [matAutocomplete]="auto"
                        (keyup)="applyFilter($event)"
                    />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                            *ngFor="let option of options"
                            [value]="option.room_type_name"
                            (click)="onchange(option.room_type_id)"
                        >
                            {{ option.room_type_name }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error
                        *ngIf="
                          roomFormGroup
                              .get('room_type_id')
                              .hasError('required')
                      "
                        >this field is required!!!</mat-error
                    >
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Number of persons"
                        formControlName="no_of_people"
                    />
                    <mat-error
                        *ngIf="
                          roomFormGroup
                              .get('no_of_people')
                              .hasError('required')
                      "
                        >this field is required!!!</mat-error
                    >
                </mat-form-field>
                <mat-form-field>
                    <!-- <input
                      matInput
                      placeholder="Room Status"
                      formControlName="room_status"
                  /> -->
                    <mat-label>Status</mat-label>
                    <select matNativeControl formControlName="room_status">
                        <option value="Dirty">Dirty</option>
                        <option value="Clean">Clean</option>
                        <option value="Maintenance">Maintenance</option>
                        <option value="Occupied">Occupied</option>
                        <option value="Reserved">Reserved</option>
                        <option value="Available">Available</option>
                    </select>
                    <mat-error
                        *ngIf="
                          roomFormGroup
                              .get('room_status')
                              .hasError('required')
                      "
                        >this field is required!!!</mat-error
                    >
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Submit</button>
        </form>
    </mat-card>
</div>
