table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}
.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

mat-card {
    margin-top: 10px;
}

.matIcon:hover {
    font-weight: bold;
}
