.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

mat-radio-button {
  margin: 5px;

}

mat-error {
  margin: auto;
}
