.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.card {
  width: 50%;
  margin:auto;
}

.card-container {
  margin-top: 5%;

}

@media only screen and (max-width: 790px) {
  .card {
    width: 100%;
    margin:auto;
  }
}
