<div class="container">
    <mat-card class="text-center">
        <mat-card-title style="font-family: sans-serif;"
            >Enter Manager Details</mat-card-title
        >
        <form
            [formGroup]="managerGroup"
            (ngSubmit)="onSubmit(formDirective)"
            #formDirective="ngForm"
        >
            <div class="example-container">
                <mat-form-field>
                    <input
                        type="text"
                        placeholder="Department Name"
                        aria-label="Number"
                        matInput
                        formControlName="department_id"
                        [matAutocomplete]="aauto"
                        (keyup)="applyFilter($event)"
                    />
                    <mat-autocomplete #aauto="matAutocomplete">
                        <mat-option
                            *ngFor="let option of options"
                            [value]="option.department_name"
                            (click)="onchange(option.department_id)"
                        >
                            {{ option.department_name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <!-- <mat-form-field>
                    <input
                        matInput
                        placeholder="Employee username"
                        formControlName="emp_username"
                    />
                    <mat-error
                        *ngIf="
                            managerGroup
                                .get('emp_username')
                                .hasError('required')
                        "
                        >this field is required!!!</mat-error
                    >
                </mat-form-field> -->
                <mat-form-field>
                    <input
                        type="text"
                        placeholder="Employee username"
                        aria-label="Number"
                        matInput
                        formControlName="emp_username"
                        [matAutocomplete]="auto"
                        (keyup)="applyFilterUser($event)"
                    />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                            *ngFor="let option of userOption"
                            [value]="option.emp_username"
                        >
                            {{ option.emp_username }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field>
                    <input
                        matInput
                        [matDatepicker]="picker_join_dep"
                        placeholder="Joining date"
                        formControlName="from_date"
                        required
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker_join_dep"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker_join_dep></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input
                        matInput
                        [matDatepicker]="picker_resign_dep"
                        placeholder="Resign date"
                        formControlName="to_date"
                        required
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker_resign_dep"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker_resign_dep></mat-datepicker>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Submit</button>
        </form>
    </mat-card>
</div>
