.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

mat-card {
  margin-top: 10px;
}
.error{
  display: block;
  font-size: 12px;
  color: #F44336;
  font-family: sans-serif;
  margin-top: 1px;
  text-align: start;
}
