<mat-card>
    <mat-card-title align="center">Complaint</mat-card-title>
    <form
        [formGroup]="complaintGroup"
        (ngSubmit)="onSubmit(formDirective)"
        #formDirective="ngForm"
    >
        <div class="example-container">
            <!-- Department Id -->
            <mat-form-field>
                <input
                    type="text"
                    placeholder="Department Name"
                    aria-label="Number"
                    matInput
                    formControlName="department_id"
                    [matAutocomplete]="auto"
                    (keyup)="applyFilter($event)"
                />

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                        *ngFor="let department of departments"
                        [value]="department.department_name"
                        (click)="onchange(department.department_id)"
                    >
                        {{ department.department_name }}
                    </mat-option>
                </mat-autocomplete>

                <!-- <mat-error
                    *ngIf="
                        complaintGroup.get('department_id').hasError('required')
                    "
                    >This Field Is Required
                </mat-error> -->
            </mat-form-field>

            <!-- Room No -->
            <mat-form-field>
                <input
                    matInput
                    placeholder="Room No"
                    formControlName="room_no"
                />
                <mat-error
                    *ngIf="complaintGroup.get('room_no').hasError('required')"
                >
                    This Field Is Required
                </mat-error>
            </mat-form-field>

            <!-- Complaint Status -->
            <mat-form-field>
                <input
                    matInput
                    placeholder="Status"
                    formControlName="complaint_status"
                />
                <mat-error
                    *ngIf="
                        complaintGroup
                            .get('complaint_status')
                            .hasError('required')
                    "
                >
                    This Field is required
                </mat-error>
            </mat-form-field>

            <!-- Customer Review -->
            <mat-form-field>
                <!-- <input
                    matInput
                    placeholder="Review"
                    formControlName="customer_review"
                /> -->
                <textarea
                    matInput
                    placeholder="Review"
                    formControlName="customer_review"
                ></textarea>
                <mat-error
                    *ngIf="
                        complaintGroup
                            .get('customer_review')
                            .hasError('required')
                    "
                >
                    This Field is required
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary">Submit</button>
    </form>
</mat-card>
