<mat-sidenav-container class="example-container ">
    <mat-sidenav
        class="mat-elevation-z10"
        #sidenav
        [mode]="mod"
        [(opened)]="open"
        style="background:  #3f51b5;"
    >
        <mat-card style="background-color:#3f51b5; color: #fff;"
            >Admin Panel</mat-card
        >
        <mat-accordion multi="true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true">location_city</mat-icon>
                        Department
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('department')">
                    <mat-icon [inline]="true">add_circle_outline</mat-icon>Add
                    Department
                </p>
                <p (click)="onClick('man-dep')">
                    <mat-icon [inline]="true">mode_edit</mat-icon>Manage
                    Department
                </p>
                <p (click)="onClick('add-dept-manager')">
                    <mat-icon [inline]="true">person_add</mat-icon> Managers
                </p>
                <p (click)="onClick('manage-dept-manager')">
                    <mat-icon [inline]="true">mode_edit</mat-icon>Manage
                    Managers
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true">group</mat-icon>
                        Employees
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('add-emp')">
                    <mat-icon [inline]="true">person_add</mat-icon> Add employee
                </p>
                <p (click)="onClick('man-emp')">
                    <mat-icon [inline]="true">mode_edit</mat-icon>Manage
                    employee
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true"
                            >store_mall_directory</mat-icon
                        >
                        Rooms
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('room-type')">
                    <mat-icon [inline]="true">mode_edit</mat-icon>Room Types
                </p>
                <p (click)="onClick('add-room')">
                    <mat-icon [inline]="true">add_circle_outline</mat-icon>Add
                    Room
                </p>
                <p (click)="onClick('man-room')">
                    <mat-icon [inline]="true">mode_edit</mat-icon>Manage Room
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true">playlist_add_check</mat-icon>
                        Extras
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('add-extra')">
                    <mat-icon [inline]="true">add_circle_outline</mat-icon>Add
                    Extras
                </p>
                <p (click)="onClick('man-extra')">
                    <mat-icon [inline]="true">mode_edit</mat-icon>Manage Extras
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar
            class="mat-elevation-z10"
            style="width: 100% !important;"
            color="primary"
        >
            <p
                *ngIf="menue"
                style="text-align: end; color: white; font-size: 60px;"
            >
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </p>

            Admin Dashboard
            <span class="spacer"> </span>

            <button mat-raised-button color="primary" id="logout">
                Login out <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
