.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    width: 250px;
}

.spacer {
    flex: 1 1 auto;
}
mat-expansion-panel {
    font-family: sans-serif;
    background-color: #3f51b5;
    color: #fff;
    margin-top: 15px;
}

mat-panel-title {
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
}

p {
    cursor: pointer;
    transition-delay: 0.2s;

    color: #e8e8e8;
    margin-left: 10px;
}

p:hover {
    font-weight: bold;
    color: white;
    transition-timing-function: ease-in-out;
}

/* @media only screen and (max-width: 790px) {
  .toolbar {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    width: auto;
  }
} */
mat-icon {
    margin-right: 6px;
}
