<mat-card style="margin-top: 1%;">
    <mat-card>
        <mat-form-field style="width: 100%;">
            <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Filter"
            />
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort #table1>
                <!-- sr number -->
                <ng-container matColumnDef="sr">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Sr
                    </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        {{ i + 1 }}
                    </td>
                </ng-container>

                <!-- user Name Column -->
                <ng-container matColumnDef="cust_username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        User Name
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.cust_username }}
                    </td>
                </ng-container>

                <!-- first name -->
                <ng-container matColumnDef="cust_password">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        First Name
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.cust_password }}
                    </td>
                </ng-container>

                <!-- last name -->
                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        First Name
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.first_name }}
                    </td>
                </ng-container>

                <!-- last_name -->
                <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Last Name
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.last_name }}
                    </td>
                </ng-container>

                <!-- mobile -->
                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Mobile
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.mobile }}
                    </td>
                </ng-container>

                <!-- fax number -->
                <ng-container matColumnDef="fax">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Fax Number
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.fax }}
                    </td>
                </ng-container>

                <!-- email -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.email }}
                    </td>
                </ng-container>

                <!-- phone -->
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Phone Number
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.phone }}
                    </td>
                </ng-container>

                <!-- age -->
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Age
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.age }}
                    </td>
                </ng-container>

                <!-- address -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Address
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.address }}
                    </td>
                </ng-container>

                <!-- gender -->
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Gender
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.gender }}
                    </td>
                </ng-container>

                <!-- Kyc type -->
                <ng-container matColumnDef="kyc_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Kyc Type
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.kyc_type }}
                    </td>
                </ng-container>

                <!-- Kyc number -->
                <ng-container matColumnDef="kyc_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Kyc Number
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.kyc_number }}
                    </td>
                </ng-container>
                <!-- Kyc proof -->
                <ng-container matColumnDef="kyc_proof">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Kyc proof
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.kyc_proof }}
                    </td>
                </ng-container>

                <!-- cust_type -->
                <ng-container matColumnDef="cust_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Customer Type
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.cust_type }}
                    </td>
                </ng-container>
                <!-- nationality -->
                <ng-container matColumnDef="nationality">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nationality
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.nationality }}
                    </td>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button
                                mat-menu-item
                                (click)="onEdit(row.department_id)"
                            >
                                <mat-icon style="font-size: 15px"
                                    >edit</mat-icon
                                >
                                <span
                                    style="font-family: Arial; font-size: 11px;"
                                    >Edit</span
                                >
                            </button>
                            <!-- <div *ngFor="let item of staffData._id"> -->
                            <button
                                mat-menu-item
                                (click)="onDelete(row.department_id)"
                            >
                                <mat-icon style="font-size: 15px"
                                    >delete</mat-icon
                                >
                                <span
                                    style="font-family: Arial; font-size: 11px;"
                                    >Delete</span
                                >
                            </button>
                            <!-- </div> -->
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card>
</mat-card>
