table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    /* width: 25%; */
    margin: auto;
}
.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

mat-card {
    margin-top: 10px;
}

.matIcon:hover {
    font-weight: bold;
}
.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}
.mat-cell:nth-child(even),
.mat-header-cell:nth-child(even) {
    color: #808080;
}

.mat-cell:nth-child(odd),
.mat-header-cell:nth-child(odd) {
    color: black;
}
.example-container-dialog {
    display: flex;
    flex-direction: row;
}

.example-container-dialog > * {
    width: 100%;
}

#first {
    margin-right: 5%;
}
.example-radio-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.example-radio-button {
    align-items: flex-start;
    display: flex;
}

mat-radio-button {
    margin: 5px;
}
