.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}
.example-radio-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.example-radio-button {
    align-items: flex-start;
    display: flex;
}

mat-radio-button {
    margin: 5px;
}

mat-error {
    margin: auto;
}
