table {
  width: 100%;
}
td, th {
  width: auto;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

mat-card {
  margin-top: 10px;
}

.matIcon:hover {
  font-weight: bold;
}

/* ng-container {
  margin:  auto;
} */
