<mat-sidenav-container class="example-container ">
    <mat-sidenav
        class="mat-elevation-z10"
        #sidenav
        [mode]="mod"
        [(opened)]="open"
        style="background:  #3f51b5;"
    >
        <mat-card
            style="background-color:#3f51b5; color: #fff; cursor: pointer; "
            [routerLink]="['/employee']"
        >
            <mat-icon [inline]="true">home</mat-icon>
            Home</mat-card
        >
        <mat-accordion multi="true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true">person_outline</mat-icon>
                        Customer
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('add-customer')">
                    <mat-icon [inline]="true">person_add</mat-icon> Add
                    customers
                </p>
                <p (click)="onClick('manage-customer')">
                    <mat-icon [inline]="true">mode_edit</mat-icon> customers
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true">add_to_photos</mat-icon>
                        Booking
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('booking')">
                    <mat-icon [inline]="true">mode_edit</mat-icon> Book Customer
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true">book</mat-icon>
                        Complaints
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('complaints')">
                    <mat-icon [inline]="true">visibility</mat-icon>
                    customer's complaints
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [inline]="true">rate_review</mat-icon>
                        Review
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="onClick('review')">
                    <mat-icon [inline]="true">visibility</mat-icon>customer's
                    review
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar
            class="mat-elevation-z10"
            style="width: 100% !important;"
            color="primary"
        >
            <p
                *ngIf="menue"
                style="text-align: end; color: white; font-size: 60px;"
            >
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon>menue</mat-icon>
                </button>
            </p>

            Dashboard
            <span class="spacer"> </span>

            <button mat-raised-button color="primary" id="logout">
                Login out <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
