<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card-container">
        <mat-card class="card">
          <mat-toolbar>Super Admin</mat-toolbar>
          <form [formGroup] = "superFormGroup" (ngSubmit)="onSubmit(formDirective)" #formDirective = "ngForm">
            <div class="example-container text-center" >
              <mat-form-field>
                <input matInput placeholder="User Name" formControlName="userName" />
                <mat-error>this field is required!!!</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="userPassword" />
                <mat-error>this field is required!!!</mat-error>
              </mat-form-field>
            </div>
            <div class="text-center">
              <button mat-raised-button color="primary">Login <mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>

