<div class="container">
  <div class="row">
    <div class="col-sm">
<div class="card-container">
<mat-card class="card">
  <mat-toolbar  >Super Admin</mat-toolbar>
  <div class="example-container text-center">
  <mat-form-field>
    <input matInput placeholder="User Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password">
  </mat-form-field>

</div>
<div class="text-center">
  <button mat-raised-button color="primary"  >Login</button>
</div>

</mat-card>
</div>
</div>
</div>
</div>

